<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta }}

	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}

	{{> base/analytics }}

</head>

<body>

	{{> base/header 'sticky'}}

	<main id='content'>
		
		<div class='swiper' data-js='swiper'>
			<div class='swiper__wrapper' data-js='swiper__wrapper'>
				
				{{#each doc.slides}}
					<div class='slide' data-js='slide'>
					{{#ifEquals type 'titlecard'}}
						{{> story/intro }}
					{{/ifEquals}}
					
					{{#ifEquals type 'text'}}
						{{#each content}}
							<p>{{{value}}}</p>
						{{/each}}
					{{/ifEquals}}
					</div>
				{{/each}}

			</div>
		</div>

	</main>

	{{!-- {{> base/footer }} --}}


	<script src='{{basepath}}assets/scripts/d3.v5.12.0.min.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>