# Misc
.DS_Store
.tmp
.vscode
.env
.cache

# Node build artifacts
node_modules
npm-debug.log
package-lock.json

# Local development
web/dev
web/dist
.Rproj.user
.Rhistory

# Data
analysis/data

#Plots
analysis/plots
analysis/data_analysis.R
