#beeswarm
	padding 0 0.5rem 1rem 0.5rem

	&.is-visible .beeswarm__graphic.is-interactive
		pointer-events auto

	+mq('bp-3')
		padding 1rem

	.beeswarm__graphic
		display flex
		align-content flex-end
		margin 0 auto
		max-width 80rem
		width 100%
		pointer-events none

		+mq('bp-3')
			flex-direction row
			flex-wrap wrap
			width 90%

	.graphic__chart
		position relative
		width 33.33%
		transform translateY(-1.25rem)

		+mq('bp-3')
			width 100%
			transform translateY(0)

	.graphic__title
		height 2.5rem
		transform translateY(-50%)

		+mq('bp-3')
			position absolute
			top 0
			left 0
			margin 0
			height auto
			set-type-size(root)
			width 100%
			text-align center
			line-height 1
			transform translateY(0)

	.graphic__label
		position absolute
		top 0
		left 50%
		display flex
		flex-direction column-reverse
		justify-content space-between
		margin 0
		height 100%
		transform translate(-50%, 1.25rem)

		// transform rotate(-90deg) translateX(-50%)
		// transform-origin 50 0
		+mq('bp-3')
			left 0
			flex-direction row
			width 100%
			transform translateY(75%)

		p
			padding 0
			color $gray
			set-type-size(xx-small)
			margin 0
			text-align center
			text-transform uppercase
			line-height 1
			pointer-evenst none

			+mq('bp-3')
				set-type-size(x-small)

	figure
		position relative
		margin 0 auto
		height 100%

	svg, .bees
		position absolute
		top 0
		left 0
		width 100%
		height 100%

	.axis
		fill none
		stroke $gray-light
		stroke-width 2px

	.bee
		position absolute
		border none
		border 1px solid $bg
		border-radius 50%
		background-color $secondary
		background-position center center
		cursor crosshair
		transform translate(-50%, -50%)

		&.is-beauty
			border 4px solid $primary

	.beeswarm__hovertext
		position absolute
		z-index 10
		padding 0.25rem
		border 2px solid $bg
		border-radius 2%
		background-color $primary
		background-color $secondary
		color $bg
		opacity 0
		pointer-events none
		set-type-size(x-small, false)

		+mq('bp-3')
			set-type-size(root, false)
			padding 0.5rem
			transform translateY(-175%)

		&.is-beauty
			background-color $primary

	.beeswarm__hovertext__content
		set-type-size(xxx-small, false)
		text-transform uppercase

		+mq('bp-3')
			set-type-size(x-small, false)
