#category
	.graphic__title
		padding 1rem 0

	.category__graphic
		margin 0 auto
		width 100%

	figure
		display flex
		flex-direction column
		justify-content center
		align-items flex-start
		margin 0 auto
		padding 1rem
		max-width 80rem

		+mq('bp-6')
			flex-direction row
			align-items flex-end

	.controversy
		position relative
		display flex
		flex-direction column
		flex-wrap wrap
		align-items flex-start
		align-content flex-start
		margin-bottom 1rem
		padding 0 0.5em
		max-height 6rem
		width 100%

		+mq('bp-6')
			display block
			flex-direction column
			flex-wrap nowrap
			align-items flex-start
			align-content flex-start
			max-height 100%
			width 16.67%

	.person
		position relative
		visibility hidden
		cursor crosshair

		&.is-visible
			visibility visible

		&.is-mark
			background-color $primary
			color $bg

			.person__summary
				visibility visible

		&:not(.is-label):hover
			.person__name
				background-color $secondary
				color $bg

			.person__summary
				visibility visible
				background-color $secondary

	p.person__name
		margin 0
		padding 0 0.5rem
		border-bottom 2px solid $bg
		transition color $fade

		+mq('bp-6')
			set-type-size(medium)

	.is-label
		position absolute
		top 100%
		left 0.5rem
		width 100%
		transform translateY(0.5em)

		p
			color $gray
			set-type-size(small)
			line-height 1.25

			+mq('bp-6')
				set-type-size(small)

	.is-beauty.is-active
		.person__name
			background-color $primary
			color $bg

	p.person__summary
		position absolute
		bottom 0
		left 100%
		z-index set-index(overlay)
		visibility hidden
		background-color $primary
		color $bg
		pointer-events none
		set-type-size(small)
		padding 1rem
		width 20rem
		border 2px solid $bg
		transform translate(0, 1.5rem)

		&.is-flip
			right 100%
			left auto
			transform translate(0, 1.5rem)