#category
	.graphic__title
		padding 1rem 0

	.category__graphic
		margin 0 auto
		width 100%

	figure
		display flex
		flex-direction column
		justify-content flex-end
		align-items flex-end
		margin 0 auto
		max-width 80rem

		+mq('bp-6')
			flex-direction row
			align-items flex-end
			padding 1rem 0

	.controversy
		position relative
		display flex
		flex-wrap wrap
		align-items flex-start
		align-content flex-start
		margin-bottom 1.25em
		padding-bottom 0.5em
		width 100%

		&:last-of-type
			margin-bottom 0
			padding-bottom 0

		+mq('bp-6')
			display block
			flex-direction column
			flex-wrap nowrap
			align-items flex-start
			align-content flex-start
			margin-bottom 1.5rem
			padding 0 0.5em
			width 16.67%

			&:last-of-type
				margin-bottom 1.5rem
				padding 0 0.5em

	.person
		position relative
		visibility hidden
		cursor crosshair

		&.is-visible
			visibility visible

		&.is-mark
			background-color $primary
			color $bg

			.person__summary
				visibility visible

		&:not(.is-label):hover
			.person__name
				background-color $secondary
				color $bg

			.person__summary
				visibility visible
				background-color $secondary

	p.person__name
		margin 0
		padding 0 0.25rem
		transition color $fade
		set-type-size(xx-small)
		border 1px solid $bg

		+mq('bp-4')
			set-type-size(x-small)

		+mq('bp-6')
			padding 0 0.5rem
			border-bottom 2px solid $bg
			font-size 1.1vw

		+mq('bp-8')
			set-type-size(small)

	.is-label
		position absolute
		top 0
		padding-top 0.25em
		width 100%
		border-top 2px solid $off-white
		transform translateY(-110%)

		+mq('bp-6')
			top 100%
			left 0.5rem
			padding-top 0
			border none
			transform translateY(0.5em)

		p
			color $gray
			line-height 1.25

			+mq('bp-6')
				font-size 1vw

			+mq('bp-8')
				set-type-size(small)

	.is-beauty.is-active
		.person__name
			background-color $primary
			color $bg

	p.person__summary
		position absolute
		z-index set-index(top)
		visibility hidden
		background-color $primary
		color $bg
		pointer-events none
		set-type-size(x-small)
		margin 0
		padding 1em
		width 15rem
		border 2px solid $bg
		line-height 1.4

		+mq('bp-6')
			set-type-size(small)
			position absolute
			bottom 0
			left 100%
			display block
			width 20rem

			&.is-flip
				right 100%
				left auto