#category
	.category__graphic
		margin 0 auto
		width 100%

	figure
		display flex
		flex-wrap wrap
		justify-content center
		align-items flex-end
		margin 0 auto
		padding 1rem
		max-width 80rem

	.controversy
		position relative
		flex-grow 1
		margin-bottom 1rem
		padding 0 0.5em

	.person p
		margin 0
		transition color $fade

		+mq('bp-6')
			set-type-size(large)

	.is-label
		position absolute
		top 100%
		left 0.5em
		transform translateY(0.5em)

		p
			color $gray
			set-type-size(small)
			line-height 1

			+mq('bp-6')
				set-type-size(root)

	.is-beauty.is-active
		p
			color $primary