#impact
	.graphic__title
		position absolute
		bottom 0
		left 0
		padding 1rem 0
		width 100%
		text-align center

	.impact__graphic
		position relative
		margin 0 auto
		max-width 80rem
		width 90%
		height 80vh

	figure
		position absolute
		top 0
		left 0
		width 100%
		height 95%
		opacity 0
		transition opacity $fade ease-in-out

		&.is-visible
			opacity 1
			transition opacity $fade 500ms ease-in-out

	.graphic__zone
		position absolute
		top 0
		left 0
		height 85%
		background linear-gradient(45deg, $off-white 25%, #eaeaea 25%, #eaeaea 50%, $off-white 50%, $off-white 75%, #eaeaea 75%)
		background-size 1rem 1rem
		vertical-align middle
		text-align center
		opacity 0
		transition opacity $fade ease-in-out

		&.is-visible
			opacity 1
			transition opacity $fade 500ms ease-in-out

		.zone__label
			position absolute
			top -0.75rem
			left 0
			margin 0
			width 100%
			line-height 1

		span
			position absolute
			top 0
			left 0
			margin 0
			font-family $sans
			set-type-size(x-small)
			padding 0 0.25em
			text-transform uppercase
			line-height 1

			&:first-of-type
				text-align right
				transform translate(-100%, 0%)

				&:before
					right -2px
					left auto

			&:last-of-type
				right 0
				left auto
				text-align left
				transform translate(100%, 0%)

				&:before
					left -2px

			&:before
				position absolute
				top 0
				display block
				width 2px
				height 0.75rem
				background #ddd
				content ''

	.person
		path
			fill none

		.path--bg
			stroke $bg
			stroke-width 6px
			stroke-opacity 0.75

		.path--fg
			stroke $gray-light
			stroke-width 2px
			stroke-opacity 1

		&.is-focus .path--fg
			stroke $secondary
			stroke-opacity 1
			stroke-width 6px

		&.is-beauty .path--bg
			stroke-width 8px

		&.is-beauty .path--fg
			stroke $primary
			stroke-opacity 1
			stroke-width 6px

		&.is-beauty .path--bg
			stroke-width 8px

		// &.is-cluster.is-beauty.cluster--1 .path--fg
		// stroke-width 2px
		// stroke green

		// &.is-cluster.is-beauty.cluster--0 .path--fg
		// stroke-width 2px
		// stroke yellow

		// &.is-cluster.is-beauty.cluster--neg1 .path--fg
		// stroke-width 2px
		// stroke orange

		// &.is-cluster.is-beauty.cluster--neg2 .path--fg
		// stroke-width 2px
		// stroke red

		// &.is-cluster.is-beauty.cluster--neg3 .path--fg
		// stroke-width 2px
		// stroke red
		&.is-cluster.growth--A .path--fg
			stroke-width 2px
			stroke $p1
			stroke $primary

		&.is-cluster.growth--B .path--fg
			stroke-width 2px
			stroke $p2
			stroke $gray-light

		&.is-cluster.growth--C .path--fg
			stroke-width 2px
			stroke $p3
			stroke $gray-light

		&.is-cluster.growth--D .path--fg
			stroke-width 2px
			stroke $secondary

		text
			display none

	.g-axis
		.axis--y
			path
				display none

		.axis--y--bg
			line
				stroke-width 6px
				stroke $bg
				stroke-dasharray 3px 0px
				stroke-opacity 0.67

		.axis--y--fg
			line
				stroke-width 2px
				stroke $fg
				stroke-dasharray 4px 4px

		.text-comp--bg
			fill none
			stroke-width 2px
			stroke $bg

	text
		font-size 12px