.intro
	position relative
	margin 0 auto
	padding 6rem 1rem
	height 100%
	color $fg

	&__hed
		position relative
		margin 0 auto
		text-align center
		text-transform uppercase
		set-type-size(xxxxxx-large, true)
		max-width $column-width

	&__dek
		position relative
		margin 0 auto
		margin-top 1rem
		text-align center
		set-type-size(xxx-large)

	&__byline
		position absolute
		right 1rem
		bottom 1rem
		margin 0 auto
		margin-top 1rem
		text-align center

	&__time
		position relative
		display block
		margin 0 auto
		margin-top 1rem
		max-width $column-width
		text-align center

	&__start
		position relative
		margin 1rem auto
		text-align center