.intro
	position relative
	margin 0 auto
	padding 3rem 1rem
	height 100%
	background-color $bg
	color $fg

	&__hed
		position relative
		margin 0 auto
		max-width 50rem
		text-align center
		text-transform uppercase
		set-type-size(xx-large, true)

		+mq('bp-4')
			set-type-size(xxxxxx-large, true)

	&__time
		position relative
		display block
		margin 0 auto
		margin-top 1rem
		max-width $column-width
		text-align center

	&__start
		position relative
		margin 1rem auto
		margin-top 3rem
		text-align center

		svg
			display block
			margin 0 auto
			height 3rem
			animation swipe 2s infinite

	.accident
		position absolute
		bottom 1rem
		left 1rem
		z-index set-index(overlay)
		pointer-events auto

		button
			display block
			margin-top 1rem
			padding 0.5rem
			background-color $primary
			color $white
			font-weight bold

	.smokey
		position absolute
		bottom 7.5rem
		left 1rem
		width 16rem
		border 2px solid $fg
		transition transform 250ms ease-in-out
		transform translateX(-125%)
		pointer-events auto

		&.is-visible
			transform translateX(0)

.slide p.intro__byline
	position absolute
	bottom 1rem
	left 0
	margin 0 auto
	max-width none
	width 100%
	text-align center
	set-type-size(small, true)

	+mq('bp-4')
		set-type-size(x-large, true)

@keyframes swipe
	0%
		transform translateX(0%)

	25%
		transform translateX(-50%)

	50%
		transform translateX(0%)

	100%
		transform translateX(0%)