/* CUSTOM STORY STYLE */
html, body
	height 100%

body
	font-weight bold
	font-family $sans

main
	position relative
	overflow hidden
	height 100%

mark
	padding 0 0.25em
	background-color $primary
	color $bg

	&.non
		background-color $secondary

section
	position absolute
	top 0
	left 0
	display flex
	align-items flex-end
	width 100%
	height 100%
	opacity 0
	transition $fade-out ease-in

	&.is-visible
		opacity 1
		transition $fade ease-out

.graphics, .swiper, .arrows
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	user-select none

.graphics
	padding 0 3rem

.graphics
	top auto
	bottom 0

.swiper
	pointer-events none

.arrows
	pointer-events none

.arrow
	position absolute
	top 50%
	left 1rem
	visibility hidden
	padding 0.25rem
	border 2px solid $fg
	background rgba($bg, 0.5)
	line-height 1
	transition transform 100ms ease-in-out
	transform translate(0, -50%)
	pointer-events auto

	&:hover
		transform translate(-10%, -50%)

	&.is-visible
		visibility visible

	svg
		width 2rem
		height 2rem

	&--right
		right 1rem
		left auto

		&:hover
			transform translate(10%, -50%)

.is-mobile .arrows
	display none

.is-mobile .swiper
	pointer-events auto

.swiper__wrapper
	height 100%

.slide
	position relative
	height 100%

	.slide__nerd
		position absolute
		top 0
		left 0
		display flex
		visibility hidden
		align-items center
		width 100%
		height 100%
		background-color $secondary
		transition transform 250ms ease-in-out
		transform translateY(-100%)

		&.is-visible
			transform translateY(0)

		&.is-loaded
			visibility visible

	.slide__text
		display flex
		align-items center
		// background $fg
		// color $bg

	p
		set-type-size(root, true)
		margin 0 auto
		padding 1rem
		max-width 60rem
		text-align left

		+mq('bp-4')
			set-type-size(x-large, true)

	&.is-center p
		text-align center

.slide--inter
	display flex
	flex-direction column
	justify-content center
	background $fg
	color $bg

	img, video
		display block
		margin 2rem auto
		max-width 30rem
		box-shadow 0px 0px 0px 0.5rem $bg

	.slide__text
		background transparent

		p
			set-type-size(x-large, true)
			margin 0 auto
			padding 1rem
			max-width 60rem

			// text-align center
			+mq('bp-4')
				set-type-size(xx-large, true)

.graphic__title
	text-align center
	text-transform uppercase
	set-type-size(xx-large)

.btn
	background-color $primary
	color $bg
	font-weight bold
	font-family $sans
	set-type-size(xx-large)
	padding 0.5em
	line-height 1

.section__figure
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	filter grayscale(100%)
	background-position 50% 50%
	background-size 33%
	background-size cover
	background-size contain
	// background-repeat no-repeat

svg text
	font-family $sans

.mobile
	display none

.is-mobile
	.mobile
		display block

	.desktop
		display none

.nerd-mode
	position absolute
	top 0
	right 0
	padding 1rem

	button
		padding 0.25rem
		border 2px solid $bg
		font-size 2rem
		line-height 1
		// border-radius 50%
		opacity 0
		transition opacity 100ms ease-in-out
		pointer-events none

		&.is-visible
			opacity 1
			pointer-events auto

		&:hover
			background-color $secondary