/* CUSTOM STORY STYLE */
html, body
	height 100%

body
	font-weight bold
	font-family $sans

main
	position relative
	overflow hidden
	height 100%

mark
	padding 0 0.25em
	background-color $primary
	color $bg

section
	position absolute
	top 0
	left 0
	display flex
	align-items flex-end
	width 100%
	height 100%
	opacity 0
	transition $fade-out ease-in

	&.is-visible
		opacity 1
		transition $fade ease-out

.graphics, .swiper
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	user-select none

.graphics
	top auto
	bottom 0

.swiper
	// pointer-events none

.swiper__wrapper
	height 100%

.slide
	height 100%

	.slide__text
		display flex
		align-items center
		background $fg
		color $bg

	p
		set-type-size(root, true)
		margin 0 auto
		padding 1rem
		max-width 60rem
		text-align left
		text-align left

		+mq('bp-4')
			set-type-size(x-large, true)

	&.is-center p
		text-align center

.graphic__title
	text-align center
	text-transform uppercase
	set-type-size(xx-large)

.btn
	background-color $primary
	color $bg
	font-weight bold
	font-family $sans
	set-type-size(xx-large)
	padding 0.5em
	line-height 1

.section__figure
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	filter grayscale(100%)
	background-position 50% 50%
	background-size 33%
	background-size cover
	background-size contain
	// background-repeat no-repeat

svg text
	font-family $sans

.mobile
	display none

.is-mobile
	.mobile
		display block

	.desktop
		display none
