<section id='category' data-js='category'>
	<div class='category__graphic' data-js='category__graphic'>
		<figure class='graphic__figure' data-js='graphic__figure'></figure>
		<h3 class='graphic__title'>{{{doc.categoryTitle}}}</h3>
	</div>
</section>