<section id='costume' data-js='costume'>
	<div class='costume__graphic' data-js='costume__graphic'>
		<figure class='graphic__figure' data-js='graphic__figure'>
			<img src='assets/images/costume.png' alt='YouTuber apology costume'>
			<figcaption>{{{doc.costumeCaption}}}</figcaption>
		</figure>
	</div>
</section>

