<section id='images' data-js='images'>
	<figure class='section__figure' data-js='images__figure'>
		<img src='assets/images/headlines/0@2x.png'>
		<img src='assets/images/headlines/1@2x.png'>
		<img src='assets/images/headlines/2@2x.png'>
		<img src='assets/images/headlines/3@2x.png'>
		<img src='assets/images/headlines/4@2x.png'>
		<img src='assets/images/headlines/5@2x.png'>
		<img src='assets/images/headlines/6@2x.png'>
		<img src='assets/images/headlines/7@2x.png'>
		<img src='assets/images/headlines/8@2x.png'>
	</figure>
</section>
