<section id='impact' data-js='impact'>
	<div class='impact__graphic' data-js='impact__graphic'>
		<figure class='graphic__figure figure--pre is-visible' data-js='figure--pre'></figure>
		<div class='graphic__zone is-visible'>
			<p class='zone__label'><span>Controversy</span><span>Apology</span></p>
		</div>
		<figure class='graphic__figure figure--post' data-js='figure--post'></figure>
	</div>
</section>