<section id='people' data-js='people'>
	<figure class='section__figure' data-js='people__figure'>
		<img src='assets/images/people/GabrielZamora@2x.jpg'>
		<img src='assets/images/people/Grav3yardgirl@2x.jpg'>
		<img src='assets/images/people/JaclynHill@2x.jpg'>
		<img src='assets/images/people/JamesCharles@2x.jpg'>
		<img src='assets/images/people/JeffreeStar@2x.jpg'>
		<img src='assets/images/people/LauraLee@2x.jpg'>
		<img src='assets/images/people/MannyMua@2x.jpg'>
		<img src='assets/images/people/OliviaJade@2x.jpg'>
		<img src='assets/images/people/Zoella@2x.jpg'>
	</figure>
</section>
